[defaults]
inventory = ./inventories/inventory.ini
interpreter_python = auto_silent
stdout_callback = default
result_format = yaml
retry_files_enabled = False
roles_path = ./roles
host_key_checking = True
remote_tmp = /tmp/.ansible-${USER}/tmp

[ssh_connection]
pipelining = True
